.createTrainee{
	width:80%;
	height:900px;
	margin-left:auto;
	margin-right:auto;
    background-color: white;
}

.createTraineeForm{
    height: 80%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.DayPickerInput-Overlay {
    top: -332px;
}

.title{
    margin-left: 5%;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.gird-item{
  border: none;
  padding: 20px;
  font-size: 16px;
}
.grid-dates{
	border: none;
	position:center;
	float:left;
	margin-left:10%;
	padding: 20px;
}
.grid-wrapper{
	display:grid;
	  grid-template-columns: auto auto auto auto;
	  padding:10px;
}
.text-input-fields {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

#createTraineeBtn {
	background-color: #005b72;
	width: 30%;
	text-transform: capitalize;
	font-family: "Roboto", sans-serif;
}

#createTraineeBtn:hover {
	color:#005b72;
    background-color: white;
}